language: ruby
before_install:
  - npm install -g npm@3.10.9
before_script:
  - npm install
script:
  - set -e
  - bundle exec jekyll build
  - "! grep -n '<ERROR' -r _site"
  - bundle exec htmlproofer --alt-ignore '/.*/' --check-html --disable-external --assume-extension ./_site
# https://docs.travis-ci.com/user/deployment/#Conditional-Releases-with-on%3A :
# "Name of the branch. If omitted, this defaults to the app-specific branch, or master."
# ie, The default behavior is only to deploy the master branch.
deploy:
  provider: s3
  bucket: gehlenborglab.org
  skip_cleanup: true
  region: us-east-1
  acl: public_read
  local_dir: _site
  access_key_id: AKIAI37A5SUOEVYA5KOQ
  secret_access_key:
    secure: 56R5e5NbXgvKcmIsPFtQV03RoLJLplIgHhS3vpgiauUhiOwR/qpOhGaur8yYBoXN2isF24JNMbRjS4IKWe9isj3PKVK3FygOvorjeoSIfwp9N/oco1AfswmIC6cg5AlyKYkzX6Tqdf8iCzADbiCNJD+0osYczpyh4yV5b31lPDbdAax01Ne/NeSSRPz5aM0ps8L+qFKdW0kQ0Ntfoe7jHOMMKaWgfcsc1dLcxTvGglON3k7S7nbrj87MwrG9mzf2EbFsc9xyPFg501FwRFDncu0rz4wVXPrAv3GfEqR2nfnRsh6E/sEZ4byvURiqDVv8vio/Gkt8ERYYyGd7OzYrzTR0BivqdxVKDnLwCsNRmgWXFZcv5PxUximyY/uDRfSweVkf/6kSoDhFUlGSUAvFmOW+vyVF8lGeGSSC1GBHE7osluNY1PRwFd8Qk+z2pnxeXTkDIzjqa28oStrFTu/xME7y+PUFDDtf2PYxb8GK1dRRqX8Rb6cqgjesdGr1bVv0LWx7KYtclYdqU4KzS7/KTE1MUZAofUYBLVbJywI0+etmWAtNDW9xpvuHBngrT4fh/XGZSxvXDJjNqLba5vdNFkRU3NwXW9ou70X0+ULqjI7Kg9bXdtc+dFEtv5E4p99KoV3pBwKp/00WiUSWRDylS52I6iE4lGRS2S0uG7djXqw=
