# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Gehlenborg Lab
email: nils@hms.harvard.edu
description: >
  We are a team of data scientists and software developers who are passionate about driving biomedical
  discovery by creating efficient and effective visual interfaces between analysts and data.
baseurl: ""
# TODO: Is url used for anything? Always confusing when demo site points to the live one.
#url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: nils_gehlenborg
github_username:  ngehlenborg

# Build settings
markdown: kramdown
theme: "uswds-jekyll"
styles:
  - /assets/main.css
sass:
    sass_dir: _sass
gems:
  - jekyll-feed
exclude:
  - node_modules
  - package.json
  - Gemfile
  - Gemfile.lock
  - README.md
  - .travis.yml
  - vendor

collections:
  projects:
    output: true
    permalink: /research/:collection/:path/
  themes:
    output: true
    permalink: /research/:path/
  members:
    output: true
    permalink: /team/:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  positions:
    output: true
    permalink: /team/:collection/:path/
  news:
    output: true
    permalink: /:collection/:path/
defaults:
  - scope:
      path: ""
      type: publications
    values:
      layout: publication
  - scope:
      path: ""
      type: news
    values:
      layout: news
  - scope:
      path: ""
      type: projects
    values:
      layout: project
  - scope:
      path: ""
      type: positions
    values:
      layout: position
  - scope:
      path: ""
      type: members
    values:
      layout: member
  - scope:
      path: ""
      type: themes
    values:
      layout: theme
