<tr>
<td>
{% if publication.image %}
<a class="display-lg-only" href="{{publication.url}}"><img alt='Publication page for "{{ publication.title | escape }}"' class="thumb" src="/assets/img/publications/thumbnail/{{ publication.image }}"></a>
{% endif %}
</td>
<td>
{% capture doi %}{% if publication.doi and publication.publisher %} doi:[{{ publication.doi }}]({{ publication.publisher }}){% endif %}{% endcapture %}
{% capture citation %}{{ publication.cite.authors }}. "[{{ publication.title }}]({{ publication.url }})", {{ publication.cite.published }} ({{ publication.year }}).{{ doi }}{% endcapture %}
<p style="text-wrap: balance">{{ citation | markdownify }}</p>
</td>
</tr>
