---
layout: docs
---
<h2>{{ page.name_degree }}</h2>
<h6>{{ page.title }}</h6>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <h3 id="biography">Biography</h3>
    {{ content }}

    <h3 id="courses">Courses</h3>
    {{ page.courses }}
  
  </div>

  <aside class="usa-width-one-third">
    
    <div>
      <img src="/assets/img/members/{{ page.photo }}">
    </div>

    <h3 id="awards">Awards</h3>
    {{ page.awards }}

    <h3 id="projects">Projects</h3>
      <ul>
      {% for project in site.projects %}
        {% for member in project.members %}
          {% if member == page.identifier %}
            <li><a href="{{ project.url }}">{{ project.name }}</a></li>  
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
  </aside>
</div>
