---
layout: page
---
{% assign id = page.url | split: '/' | last %}
<h2>{{ page.name_degree }}</h2>

<div class="usa-grid-full">
  <aside class="usa-width-one-third">
    <div>
      <img src="/assets/img/members/fullsize/{{ page.photo }}">
    </div>

    <br>
    <div id="services">
      {% for service in page.services %}
        <a href="{{ service[1] }}"><img style="height: 32px" src="/assets/img/services/{{ service[0] }}.svg" alt="{{service[0]}}"></a>
        &nbsp;
      {% endfor %}
    </div>

    {% if page.title == 'Nils Gehlenborg' %}
    <a href="/research/projects/"><h3 class="header-link">Projects</h3></a>
    <a href="/publications/"><h3 class="header-link">Publications</h3></a>
    {% else %}
    <h3 id="projects">Projects</h3>
    <ul>
    {% for project in site.projects %}
      {% for member in project.members %}
        {% if member == id %}
          <li><a href="{{ project.url }}">{{ project.name }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
    {% endif %}

  </aside>

  <div class="usa-width-two-thirds">
    <h3 id="biography">Biography</h3>
    <h6>{{ page.job_title }}</h6>
    
    {{ content }}

    {% capture news_list %}
      {% for news in site.news %}
        {% for member in news.members %}
          {% if member == id %}
            <li><a href="{{ news.url }}">{{ news.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endcapture %}
    {% assign news_list = news_list | strip %}
    {% if news_list != '' %}
      <h3 id="news">News</h3>
      <ul>
        {{ news_list }}
      </ul>
    {% endif %}

    {% capture media_list %}
      {% for media in site.data.media %}
        {% for member in media.members %}
          {% if member == id %}
            <dt class="media-mention">
              <b>{{ media.outlet }}</b> ({{ media.date }})<br>
              <a href="{{ media.url }}">{{ media.title }}</a>
            </dt>
            <dd class="media-mention">
              <p>
              {{ media.blurb }}
              </p>
            </dd>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endcapture %}
    {% assign media_list = media_list | strip %}
    {% if media_list != '' %}
      <h3 id="media">Media</h3>
      <dl>
        {{ media_list }}
      </dl>
    {% endif %}

    {% if page.title != 'Nils Gehlenborg' %}
    {% capture publications_list %}
      {% for publication in site.publications %}
        {% for member in publication.members %}
          {% if member == id %}
            <li><a href="{{ publication.url }}">{{ publication.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endcapture %}
    {% assign publications_list = publications_list | strip %}
    {% if publications_list != '' %}
      <h3>Publications</h3>
      <ul>
        {{ publications_list }}
      </ul>
    {% endif %}
    {% endif %}
  </div>

</div>
