---
layout: docs
---
{% assign id = page.url | split: '/' | last %}

<h2>{{ page.name_degree }}</h2>
<h6>{{ page.title }}</h6>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <h3 id="biography">Biography</h3>
    {{ content }}

    {% for news in site.news %}
      {% for member in news.members %}
        {% if member == id %}
          {% assign has_news = true %}
          <!-- We could wrap the loop below with a capture,
               which might be more efficient, but probably less clear. -->
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if has_news %}
      <h3 id="news">News</h3>
      <ul>
        {% for news in site.news %}
          {% for member in news.members %}
            {% if member == id %}
              <li><a href="{{ news.url }}">{{ news.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <aside class="usa-width-one-third">
    
    <div>
      <img src="/assets/img/members/{{ page.photo }}">
    </div>

    <h3 id="projects">Projects</h3>
      <ul>
      {% for project in site.projects %}
        {% for member in project.members %}
          {% if member == id %}
            <li><a href="{{ project.url }}">{{ project.name }}</a></li>  
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
  </aside>
</div>
