---
layout: page
---
{% assign id = page.url | split: '/' | last %}

<h1>
    {{ page.title }}
</h1>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <p><small>Posted on {{ page.date | date: "%-d %B %Y" }}</small></p>

    {{ content }}

    {% if page.publications.size > 0 %}
      <h2>Publications</h2>
      {% include list-publications.html %}
    {% endif %}
  </div>

  <aside class="usa-width-one-third">

    {% if page.members.size > 0 %}
      <h3>People</h3>
      {% include list-members.html %}
    {% endif %}

  </aside>
</div>
