---
layout: docs
---
{% assign id = page.url | split: '/' | last %}

<h2>
    <small>{{ page.date | date: "%-d %B %Y" }}:</small><br>
    {{ page.title }}
</h2>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    {{ content }}

    {% if page.publications.size > 0 %}
      <h3>Publications</h3>
      {% include list-publications.html %}
    {% endif %}
  </div>

  <aside class="usa-width-one-third">

    {% if page.members.size > 0 %}
      <h3>People</h3>
      {% include list-members.html %}
    {% endif %}

  </aside>
</div>
