---
layout: docs
---
{% assign id = page.url | split: '/' | last %}

<h2>{{ page.title }}</h2>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    {{ content }}

    {% if page.publications.size > 0 %}
      <h3>Publications</h3>
      <ul>
        {% for publication_id in page.publications %}
          {% assign publication_url = '/publications/' | append: publication_id | append: '/' %}
          {% assign publications = site.publications | where: "url", publication_url %}
          {% if publications.size == 1 %}
            <li><a href="{{ publications[0].url }}">{{ publications[0].title }}</a></li>
          {% else %}
            <ERROR "{{ publication_id }}" matches "{{ publications }}"/>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <aside class="usa-width-one-third">

    {% if page.members.size > 0 %}
      <h3>People</h3>
      <ul>
        {% for member_id in page.members %}
          {% assign member_url = '/team/members/' | append: member_id | append: '/' %}
          {% assign members = site.members | where: "url", member_url %}
          {% if members.size == 1 %}
            <li><a href="{{ members[0].url }}">{{ members[0].name_plain }}</a></li>
          {% else %}
            <ERROR "{{ member_id }}" matches "{{ members }}"/>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

  </aside>
</div>
