---
layout: docs
---
{% assign id = page.url | split: '/' | last %}

<h2>{{ page.name }}</h2>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <h3>Abstract</h3>
    {{ content }}

    <h3>Publisher URL</h3>
    <a href="{{ page.publisher.url }}">{{ page.publisher.url }}</a>
  </div>

  <aside class="usa-width-one-third">
    <h3>Team</h3>
    <ul>
    {% for publication_member in page.members %}
      {% for site_member in site.members %}
        {% assign site_member_id = site_member.url | split: '/' | last %}
        {% if publication_member == site_member_id %}
          <li><a href="{{ site_member.url }}">{{ site_member.name_plain }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  </aside>
</div>
