---
layout: docs
---
{% assign id = page.url | split: '/' | last %}

<h2>{{ page.name }}</h2>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <h3>Abstract</h3>
    {{ content }}

    <h3>Publisher URL</h3>
    <a href="{{ page.publisher }}">{{ page.publisher }}</a>
  </div>

  <aside class="usa-width-one-third">
    <h3>Team</h3>
    <ul>
    {% for member_id in page.members %}
      {% assign member_url = '/team/members/' | append: member_id | append: '/' %}
      {% assign members = site.members | where: "url", member_url %}
      {% if members.size == 1 %}
        <li><a href="{{ members[0].url }}">{{ members[0].name_plain }}</a></li>
      {% else %}
        <ERROR "{{ member_id }}" matches "{{ members }}"/>
      {% endif %}
    {% endfor %}
    </ul>
  </aside>
</div>
