name: Deploy to S3

on: [push, pull_request]

jobs:
  build:
    if: github.repository == 'hms-dbmi/gehlenborglab-website'
    # Available versions:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-22.04
    env:
      #sassc 2.2.1 which is a dependency of uswds-jekyll has issues with Ubuntu.
      #see https://github.com/sass/sassc-ruby/issues/146#issuecomment-542288556.
      BUNDLE_BUILD__SASSC: "--disable-march-tune-native" 
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
        id-token: write
        contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install node dependencies
      run: npm install

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7.3'
        bundler-cache: true
        cache-version: 2

    - name: Build Jekyll
      run: |
        set -e
        bundle exec jekyll build
        ! grep -n '<ERROR' -r _site
        bundle exec htmlproofer --alt-ignore '/.*/' --check-html --disable-external --assume-extension ./_site

    - name: Configure AWS Credentials
      if: ${{ github.event_name == 'push' && github.ref  == 'refs/heads/main' }}
      uses: aws-actions/configure-aws-credentials@v3
      with:
        role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
        aws-region: us-east-1

    - name: Upload to S3
      if: ${{ github.event_name == 'push' && github.ref  == 'refs/heads/main' }}
      run: |
        aws s3 sync _site/ s3://hidivelab.org
    
    - name: Invalidate Cache
      if: ${{ github.event_name == 'push' && github.ref  == 'refs/heads/main' }}
      run: |
        aws cloudfront create-invalidation --distribution-id ${{secrets.CF_DISTRIBUTION_ID}} --paths "/*"
